body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5c2fa;
    color: #240c60;
    /*background-image: url('img/programming.jpg');*/
    background-size: cover; /* Это свойство помогает изображению занимать весь фон, сохраняя пропорции */
    background-position: center; /* Центрирование изображения на фоне */
    background-repeat: no-repeat; /* Избегание повторения изображения */
    background-attachment: fixed; /* Фиксированный фон */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}
p {
    text-indent: 20px; /* Отступ первой строки абзаца */
}

header {
    background-color: #240c60;
    color: #d5c2fa;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(to top  right, #a787f6, #240c60);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button{
    background-color: #d5c2fa;
    color: #4f319a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: 3px solid #4f319a;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(7, 2, 2, 0.7);
}

.button:hover{
    background-color: #240c60;
    color: #d5c2fa;
    text-decoration: underline;
    border: 3px solid #d5c2fa;
}
